div, fieldset, section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

fieldset {
  border: none;
  input {
    background: rgb(240,240,240)
  }
}



section {
  position: relative;
  width: 90vw;
  height: 90vw;
  background-color: brown;
  background-size: cover;
  p {
    width: 90%;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    color: white;
  }

  #toptext {
    position: absolute;
    margin-top: 10px;
  }

  #bottomtext {
    position: absolute;
    bottom: 5px;
  }
}

@media (min-width: 500px) {
  section {
    width: 450px;
    height: 450px;
  }
}