
body{
    background-color: rgb(44, 71, 140);
    font-size: 24px
}


section {
    width: 500px;
    height: 500px
}


div.meme{
    height: 700px;
    max-width: 100%;
    background-repeat: no-repeat;
    background-image: cover;
    background-size: contain;
    background-position: center;
    margin: 0 auto
}

section{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: center
}

p.text {
        position: absolute;
        margin-top: 160px;
        text-align: center;
}


