body{
    background-color: rgb(28, 148, 148);
    font-size: 20px
}

section{
    height: 800px;
    width: 70%;
    /* background-color: lightcyan; */
    margin: 0 auto;
    text-align: center
}

div.meme{
    height: 700px;
    width: 50%;
    background-repeat: no-repeat;
    background-image: cover;
    background-size: contain;
    margin: 20px auto
}

div.options{
    display: block

}

input.fontSize{
    width: 40px
}

