body{
    background-color: rgb(28, 148, 148);
    font-size: 20px
}

section{
    height: 800px;
    width: 70%;
    /* background-color: lightcyan; */
    margin: 0 auto;
    text-align: center
}

div.meme{
    height: 700px;
    width: 50%;
    background-repeat: no-repeat;
    margin: 0 auto
}

div.options{
    display: block

}

